*.swp
*.lo
*.la
*.o
*.swp
*.libs
*.deps
*.bak
*~
aclocal.m4
autom4te.cache
configure
config.status
config.guess
config.h
config.h.in
config.log
config.sub
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
compile
tags
